<div class="recharge-subscription-form-widget ">
    <fieldset class="product__subs" data-subscription-selectors>
        {% comment %} The input with name="selling_plan" submits to cart 
        <input type="hidden" name="selling_plan" value="{{ product.selected_selling_plan.id }}" />
        {% endcomment %} 
        <legend class="visually-hidden">{{ 'products.product.subscription' | t }}</legend>

        {% unless product.requires_selling_plan %}
            <div class="product__subs__group">
                <label class="product__subs__option active" for="{{product}}-one-time-product">
                    <input 
                        type="radio" 
                        name="selling-plan-group"
                        id="{{product}}-one-time-product"
                        value=""
                        data-toggles-group
                        {% unless product.selected_selling_plan %}
                            checked
                        {% endunless %}
                    />
                    <div class="radio-flex-wrapper">
                        <div class="flex-container">
                            <span class="radio_icon"></span>
                            <span class="add-l-space">One time purchase</span>
                        </div>
                        <div class="flex-container margin-r-auto">
                            <span>-</span>
                            <span class="theme-money one-time-price">
                                {{ product.selected_or_first_available_variant.price | money }}
                            </span>
                        </div>
                    </div>
                </label>
            </div>
        {% endunless %}

        {% for selling_plan_group in product.selling_plan_groups %}
            <div class="product__subs__group">
                <label class="product__subs__option" for="{{product}}-{{selling_plan_group.id}}">
                    <input type="radio"
                        id="{{product}}-{{selling_plan_group.id}}"
                        data-toggles-group
                        name="selling-plan-group" 
                        value="{{ selling_plan_group.id }}" 
                        {% if selling_plan_group.selling_plan_selected %}
                            checked
                        {% endif %}
                    />
                    <div class="radio-flex-wrapper">
                        <div class="flex-container">
                            <span class="radio_icon"></span>
                            <span class="add-l-space">Subscribe &amp; Save (20%)</span>
                        </div>
                        <div class="flex-container margin-r-auto">
                            <span>-</span>
                            <span class="current-price theme-money subscription-price">
                                {{ product.selected_or_first_available_variant.selling_plan_allocations.price | money }}
                            </span>
                        </div>
                    </div>
                </label>
                <select
                    name="selling_plan"
                    class="{% unless selling_plan_group.selling_plan_selected %} hide{% endunless %}"
                    {% unless selling_plan_group.selling_plans.size > 1 %}
                        style="display: none;"
                    {% endunless %}
                >
                    {% for plan in selling_plan_group.selling_plans %}
                        <option
                            value="{{ plan.id }}"
                            {% if plan.selected %}
                                checked
                            {% endif %}
                        >
                            {{ plan.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
    </fieldset>
</div>
