<div class="home_collection_section fully-spaced-row--medium">
  <div class="container">
    <div class="collection_section_wrapper">
      <div class="collection_heading">
        {%- if section.settings.text -%}
          <h2>{{ section.settings.text }}
          </h2>
        {%- endif -%}
        {%- if section.settings.show_shop_all -%}
          <div class="view-all align-center" data-cc-animate data-cc-animate-delay="0.3s">
            <a class="small-feature-link collection_shop_all" href="{{ section.settings.shop_all_link }}">{{ 'collections.general.view_all' | t }}
              {% render 'svg-up-icon' %}
            </a>
          </div>
        {%- endif -%}
      </div>

      <div class="flexbox-images">
        {%- for block in section.blocks -%}
          {%- assign collection_block = collections[block.settings.collection] -%}
          {% if block.settings.shop_all_link != blank %}
            {% assign redirection_link =  block.settings.shop_all_link %}
          {% elsif block.settings.link_url != blank %}
            {% assign redirection_link =  block.settings.link_url %}
          {% endif %}
          {% if collection_block != blank%}
            {%- assign collection_image = block.settings.image | default: collection_block.products.featured_image -%}
            {% comment %} <a href="{{ block.settings.shop_all_link }}" class="ggy"> {% endcomment %}
            <a href="{{ redirection_link }}" class="image-wrapper">
              <div>
                {%- assign img_url = collection_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="rimage__image lazyload{% if manual_image_load %}--manual{% endif %} fade-in {% if local_cover %}cover{% endif %}" data-src="{{ img_url }}" data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ image.aspect_ratio }}" data-sizes="auto" alt="{{ collection_image.alt | escape }}">
                <div class="image_title">
                  {%- assign collection_title = block.settings.title | default: collection_block.title -%}
                  <div class="h4">{{ collection_title }}</div>
                  {% comment %} <div class="small-feature-link shop_all">{{ block.settings.link_url }}</div> {% endcomment %}
                  {% if block.settings.shop_all_link != blank %}
                    <div class="small-feature-link shop_all">{{ 'collections.general.view_all' | t }}
                      {% render 'svg-up-icon' %}
                  </div>
                  {% elsif block.settings.link_url != blank %}
                    <div class="small-feature-link shop_all">{{ block.settings.link_text }}
                        {% render 'svg-up-icon' %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </a>
            {% comment %} </a> {% endcomment %}
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Home Collections",
    "class": "section-home-collections",
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "Richtext Content",
        "default": "<p>Our Collections</p>"
      }, {
        "type": "checkbox",
        "id": "show_shop_all",
        "label": "Show 'Shop all' link",
        "default": true
      }, {
        "type": "url",
        "id": "shop_all_link",
        "label": "Add url to 'Shop All'"
      }
    ],
    "blocks": [
      {
        "type": "collection-image",
        "name": "Image with Text media",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Choose image"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          }, {
            "type": "url",
            "id": "shop_all_link",
            "label": "Shop All link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Collections",
        "settings": {}
      }
    ]
  }
{% endschema %}