<div class="claim_drawer_background" id="waitlistDrawerBackground" style="display:none;"></div>
<div class="claim_drawer_container" id="waitlistDrawerContainer" style="display:block;">
  <a class="claim-drawer-summary__close toggle-cart-summary" onclick="document.getElementById('waitlistDrawerContainer').classList.remove('claim-drawer-open'); document.getElementById('waitlistDrawerBackground').style.display = 'none';document.querySelector('body').classList.remove('cart-drawer-open');">
    {% render 'svg-close' %}
  </a>
  <div class="waitlist_signup_container">
    <div class="waitlist_signup">
        {% comment %} <form id="email-form" name="email-form" method="post" class="email_form">
            <div class="form-body">
                <span class="signup-form-headline">{{ section.settings.waitlist_message }}</span>
                <input type="email" class="form-input" name="email" placeholder="Email Address" id="email">
                <div class="form-actions" style="background: {{ section.settings.join_button_color }}">
                    <input type="submit" value="{{ section.settings.join_text }}" class="join_waitlist_button">
                </div>
            </div>
        </form> {% endcomment %}
        <div class="klaviyo-form-UDc6Gn"></div>
        {% comment %} {% form 'customer', class: "vape-waitlist-form", id: "vape-waitlist-form" %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p>Thank you successfully submitted</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="">
            <input type="email"
              name="contact[email]"
              id="Email"
              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
              autocorrect="off"
              autocapitalize="off">
            <input type="checkbox" value="a">
            <input type="checkbox" value="b">
            <input type="checkbox" value="c">
            <button type="submit" name="commit" id="Subscribe">
              <span>Submit</span>
            </button>
          {% endif %}
        {% endform %} {% endcomment %}
    </div>
  </div>
</div>
<script>
    function showRecoverPasswordFormDrawer() {
      document.getElementById('recover-password_drawer').style.display = '';
      document.getElementById('customer_drawer').style.display='none';
      $("#waitlistDrawerContainer").animate({ scrollTop: 0 }, "fast");
    }
  
    function hideRecoverPasswordFormDrawer() {
      document.getElementById('recover-password_drawer').style.display = 'none';
      document.getElementById('customer_drawer').style.display = '';
      $("#waitlistDrawerContainer").animate({ scrollTop: 0 }, "fast");
    }
    function showRegistrationFormDrawer() {
      document.getElementById('create-customer').style.display = '';
      document.getElementById('customer_drawer').style.display='none';
      $("#waitlistDrawerContainer").animate({ scrollTop: 0 }, "fast");
    }
  
    function hideRegistrationForm() {
      document.getElementById('create-customer').style.display = 'none';
      document.getElementById('customer_drawer').style.display = '';
      $("#waitlistDrawerContainer").animate({ scrollTop: 0 }, "fast");
    }
  </script> 
{% schema %}
    {
        "name": "Waitlist drawer",
        "settings": [
            {
                "type": "richtext",
                "id": "waitlist_message",
                "label": "Waitlist message"
            },
            {
                "type": "text",
                "id": "join_text",
                "label": "Join text"
            },
            {
                "type": "color",
                "id": "join_button_color",
                "label": "Join button color"
            }
        ],
        "presets": [
            {
                "name": "Waitlist drawer"
            }
        ]
    }
{% endschema %}